<h3 class="text-center text-success">Sepetiniz</h3>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>Tutar</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let productInBasket of basket let i = index">
            <th>{{i+1}}</th>
            <th>{{productInBasket.product.name}}</th>
            <th>{{productInBasket.quantity}}</th>
            <th>{{productInBasket.product.price * productInBasket.quantity}}</th>
            <th></th>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>Toplam: {{total}} TL</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<button class="btn btn-lg btn-success" style="display: flex; margin:0 auto;">Ödeme Yap</button>