.card-cvv{
    display: flex;
    justify-content: space-evenly;
    .exp-date {
        display: flex;
        #expirationDate-month{
            margin-left: 10px;
            margin-right: 10px;
            width: 40px;
        }   
        #expirationDate-year {
            margin-left: 10px;
            margin-right: 10px;
            width: 60px;
        }
    }
}
#cvv{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
}