<div class="row">
  <div class="col-lg-3 product mt-4" *ngFor="let product of products">
    <img
      src="{{product.imageUrl}}"
      alt=""
      style="width: 200px; height: 200px;"
    />
    <h3>{{product.name}}</h3>
    <h4 class="text-danger">{{product.price | currency: "TRY":"symbol-narrow":"1.2-2"}}</h4>
    <input type="number" min="1" class="product-input" value="1" id="quantity-{{product.name}}">
    <button class="btn btn-primary" (click)="addToBasket(product)">Sepete Ekle</button>
  </div>
  
  
</div>
