<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Alış-Veriş</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">
            <i class="fa-solid fa-house-user"></i>
            Ana Sayfa
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product-add">
            <i class="fa-solid fa-square-plus"></i>
            Ürün Ekle
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-basket-shopping"></i>
            Sepetimiz
          </a>
          <ul class="dropdown-menu text-danger" aria-labelledby="navbarDropdown">
            <a routerLink="/">
              <li [innerText]="'Ödenecek Tutar'"></li>
              <li [innerText]="total | currency:'TRY':'symbol-narrow':'1.2-2'"></li>
            </a>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders">
            <i class="fa-solid fa-clipboard-list"></i>
            Siparişler
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Aranacak ürün">
        <button class="btn btn-outline-success" type="submit">Ara</button>
      </form>
      <form class="d-flex mx-4">
        <button *ngIf="!isAuth" class="btn btn-primary" (click)="login()">
          <i class="fa-solid fa-right-to-bracket"></i>
          Giriş Yap
        </button>
        <button *ngIf="isAuth" class="btn btn-danger mx-2" (click)="logout()">
          <i class="fa-solid fa-power-off"></i>
          Çıkış Yap
        </button>
      </form>

    </div>
  </div>
</nav>
